<footer class=" bg-dark container-fluid" style ="position: fixed;
left: 0;
bottom: 0;
color: white;
text-align: center;">
        
        <div class="text-center">
          
          <p>&copy;2021 by <a href="https://fredagbona.netlify.app" target="_blank">  Freddy AGBONA</a>
          </p>
              <a href="https://www.facebook.com/freddy.agbona.3" target="_blank"><i class="bi bi-facebook fs-2"></i></a>
              <a href="https://www.instagram.com/freddy_agbona" target="_blank"><i class="bi bi-instagram fs-2"></i></a>
              <a href="https://www.linkedin.com/in/fredagb" target="_blank"><i class="bi bi-linkedin fs-2"></i></a>
              <a href="https://www.instagram.com/freddy_agbona" target="_blank"><i class="bi bi-instagram fs-2"></i></a>
        </div>
          

        </div> 
         
          

      </footer>